* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #303133;
  min-height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.container .box {
  background-color: white;
  color: black;
  margin-top: 2rem;
  width: 45%;

  border-radius: 10px;
  padding: 20px;
}

.container .box-calendar {
  background-color: white;
  color: black;
  margin-top: 2rem;

  border-radius: 10px;
  padding: 20px;
}

.container .box-calendar:nth-of-type(1) {
  width: 70%;
}

.container .box-calendar:nth-of-type(2) {
  width: 25%;
  height: 600px;
}

.fc {
  width:100%;
}

.fc-scrollgrid-sync-table {
  width: 100%;
}

.fc-col-header {
  width: 100%;
}

.App-header {
  background-color: #181818;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

.App-header .container {
  margin: auto;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
}

.active-link {
  background-color: gray;
}

.items-list,
.items-list li {
  list-style: none;
}
