* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303133;
}

.container .box {
  background-color: white;
  color: black;

  border-radius: 10px;
  padding: 20px;
}

.form-login {
  width: 100%;
  background-color: #fff;
}

.container-fluid .box-calendar {
  background-color: white;
  color: black;
  margin-top: 2rem;

  border-radius: 10px;
  padding: 20px;
}

.container-fluid .box-calendar:nth-of-type(1) {
  width: 70%;
}

.container-fluid .box-calendar:nth-of-type(2) {
  width: 25%;

}

.fc {
  width:100%;
}

.fc-scrollgrid-sync-table {
  width: 100%;
}

.fc-col-header {
  width: 100%;
}

.App-header {
  background-color: #181818;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: white;
}

.active-link {
  background-color: gray;
}

.items-list,
.items-list li {
  list-style: none;
}
